<div class="search-container">
  <h2>Search for Songs, books, Movies etc.</h2>
  <p>
    <input type="text" [value]="searchString" #newquery (keydown.enter)="searchTrack(newquery.value)">
    <button (click)="searchTrack(newquery.value)">Search</button>
  </p>

  <div class="item-list-container col-12" *ngFor="let itemType of searchResult">
    <div *ngIf="itemType.items && itemType.items.length > 0">
      <h4 class="row">{{itemType.name}}</h4>
      <div class="row">
        <div *ngFor="let item of itemType.items" class="item-container col-3">
          <div class="row">
            <div class="img-conatiner col-3">
              <img [src]="item.artworkUrl100">
            </div>
            <div class="item-details-container col-7">
              <label>{{item.trackName}}</label>
              <label class="genre-name">{{item.primaryGenreName}}</label>
              <a [href]="item.trackViewUrl" target="_blank">iTune link</a>
            </div>
            <div class="icon-container col-2">
              <a (click)="item.isFavourite = !item.isFavourite" title="Mark as favourite">
                <i class="fa fa-heart fa-2x"
                  [ngClass]="{'red-color': item.isFavourite, 'grey-color': !item.isFavourite}" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>